<div class="well bs-component">
  <form class="form-horizontal">
    <fieldset>
      <legend>Formulario de contacto</legend>
      <div class="form-group">
        <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="textAreaMensaje" class="col-lg-2 control-label">Mensaje</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textAreaMensaje"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancelar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
</div>