<section id="educacion">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Educación</h2>
      <hr class="star-primary">
    </div>
  </div>
  <ul>
    <li class="estudio col-xs-8 col-xs-offset-2" *ngFor="let estudio of estudios">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">{{estudio.titulo}}</h3>
        </div>
        <div class="panel-body">
          <p>{{estudio.universidad}}</p>
          <p>Fecha de Inicio: {{estudio.fecha_inicio}} - Fecha de Finalización: {{estudio.fecha_fin}}</p>
        </div>
      </div>

    </li>
  </ul>
</section>