<p>
  Un Desarrollador Web Frontend, es el que se encarga de la parte que el navegador despliega, esto implica en términos generales utilizar HTML, CSS y javaScript. Y aunque parte de sus responsabilidades es que la página se vea de cierta manera, su trabajo no es de diseñador, si no de traductor del diseño a las tecnologías antes mencionadas, y del consumo de datos (o despliegue) que vienen de la parte del servidor.
</p>
<h2>Habilidades</h2>
<ul>
  <li class="habilidad" *ngFor="let habilidad of habilidades">
    <h3>{{habilidad.nombre}}</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-info" style="width:20%"></div>
    </div>
    
  </li>
</ul>
