<section id="portafolio">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Portafolio</h2>
      <hr class="star-primary">
    </div>
  </div>
  <ul>
    <li class="proyecto col-xs-12 col-sm-6" (click)="onSelect(proyecto)" *ngFor="let proyecto of proyectos">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{proyecto.nombre}}</h3>
        </div>
        <div class="panel-body">
          <img src={{proyecto.img}} class="img-responsive" />
          <a href={{proyecto.url}} target="_blank">{{proyecto.url}}</a>
        </div>
      </div>
    </li>
  </ul>
</section>