<section id="experiencia">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Experiencia</h2>
      <hr class="star-primary">
    </div>
  </div>
  <ul>
    <li class="trabajo col-xs-8 col-xs-offset-2" *ngFor="let trabajo of trabajos">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{trabajo.empresa}}</h3>
        </div>
        <div class="panel-body">
          <p>{{trabajo.descripcion}}</p>
        </div>
      </div>

    </li>
  </ul>
</section>